@charset "UTF-8";
/*************************
	All The Utilities styles
*************************/
/* Mixins *****************/
/* ╨┐╤А╨╕╨╝╨╡╤А╤Л:
	body{
		color: color(blue, normal,.8);
	}
	p{
		color: color(orange);
	}
	blockquote{
		color: color(blue);
		background: color(orange, pale,.4);
		border-color: color(orange, dark);
	}
*/
/* Variables *****************/
/* Tools *****************/
/*************************
	All The Base styles
*************************/
/* Base *****************/
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

a img {
  border: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

@font-face {
  font-family: "RobotoRegular";
  src: url('/fonts/../fonts/RobotoRegular/RobotoRegular.eot?1411900799') format('embedded-opentype'), url('/fonts/../fonts/RobotoRegular/RobotoRegular.woff?1411900473') format('woff'), url('/fonts/../fonts/RobotoRegular/RobotoRegular.ttf?1411900642') format('truetype');
}
/*************************
	All The Modules styles
*************************/
/* Content *****************/
/* Footer *****************/
/* Header *****************/
/* Icon *****************/
/*************************
	All The States styles
*************************/
/*************************
	All The Layout styles
*************************/
/* Container *****************/
/* Responsive *****************/
/* Large display (large desktops) */
/* Medium display (desktops) */
/* Small display (tablets) */
/* Extra small display (phones) */
