// ----------------------- //
// Variables file -------- //
// ----------------------- //

$blue: #1968ae;
$black: #000000;
$cyan: #00ffff;
$white: #ffffff;
$gray: #878787;
$green: #00ff00;
$yellow: #fff200;
$red: #ff0000;
$length: 1250px;
$rob-r: 'RobotoRegular';