// ----------------------- //
// Variables file -------- //
// ----------------------- //
$df: "RobotoRegular", sans-serif;
$blue: #1968ae;
$black: #000000;
$cyan: #00ffff;
$white: #ffffff;
$gray: #878787;
$green: #00ff00;
$yellow: #fff200;
$red: #ff0000;
$length: 1250px; // настраиваем в случае с применением стиля .containers для статичной сетки

// color stack
$color-stack: (group: orange, id: normal, color: #e67835), (group: orange, id: pale, color: #f8a878), (group: orange, id: dark, color: #ad490c), (group: blue, id: normal, color: #426682)