// ----------------------- //
// Base file ------------- //
// ----------------------- //
@import 'compass/css3';
@import 'compass/typography';

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: $df;
	overflow-x: hidden;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
a img {
	border: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #666
}
body input:required:valid,
body textarea:required:valid{
	color: #666
}

@include font-face("RobotoRegular", font-files("../fonts/RobotoRegular/RobotoRegular.eot", "../fonts/RobotoRegular/RobotoRegular.woff", "../fonts/RobotoRegular/RobotoRegular.ttf"));